.postOuter {
  background: rgb(59, 59, 59);
  position: absolute;
  top: 10%;
  width: 300px;
  height: auto;
  border: solid black;
  padding-bottom: 15px;
  margin: 0 auto;
  .formTitle {
    font-size: 20px;
    margin: 10px 0;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .formGroup2 {
      position: relative;
      input {
        width: 100%;
        padding: 10px 0 0 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        &:focus ~ label,
        &:active ~ label {
          top: -15px;
          left: 0;
          color: rgb(238, 248, 255);
          font-size: 12px;
        }
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
    }
    textarea {
      width: 100%;
      padding: 10px;
      max-width: 100%;
      line-height: 1.5;
      border-radius: 5px;
      border: 2px solid gray;
      box-shadow: 2px 2px 1px rgb(41, 41, 41);
      margin: 0 0 5px 0;
      &:focus-visible {
        outline: none;
      }
    }
  }
}

//UploadEpisodeCSS
.uploadEpisodeOuter {
  position: relative;
  bottom: 15px;
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    background: white;
    border: solid gray;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    .fas.fa-plus {
      color: gray;
      font-size: 17px;
    }
    &:hover {
      border: solid #93d17a;
      .fas.fa-plus {
        color: #93d17a;
      }
    }
  }
}
