.error404 {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .imageOuter404 {
    position: relative;
    border: solid;
    .image {
      width: 100%;
      height: auto;
    }
    .outer404 {
      position: absolute;
      top: 70px;
      left: 90px;
      width: 200px;
      height: auto;
      .statusCode {
        width: auto;
        height: auto;
        font-size: 80px;
        .description {
          position: relative;
          left: -20px;
          font-size: 25px;
          font-weight: bold;
          margin-top: -20px;
        }
      }
    }
  }
}
