@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin custom600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}
.homePageOuter {
  position: relative;
  top: 73px;
  background: var(--background);
  height: 90vh;
  .searchOuter {
    position: relative;
    top: 5px;
    text-align: center;
    margin: 5px 5px 15px 5px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    .searchForm {
      background: var(--background-secondary);
      color: black;
      width: 100%;
      border: none;
      outline: none;
      height: 100%;
      padding: 0 10px;
      border: solid gray;
      &:focus {
        background: white;
      }
    }
    .searchIconBtn {
      position: absolute;
      color: white;
      top: 0px;
      right: 0px;
      width: 50px;
      height: 100%;
      outline: none;
      background: gray;
      transition: 1s;
      &:hover {
        color: rgb(196, 255, 172);
      }
    }
  }
  .videoTitleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: 100%;
    width: auto;
    background: var(--background);
    .title {
      color: var(--text-primary);
      font-size: 25px;
    }
  }
  .animeListOuter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background: var(--background);
    .animeListBox {
      display: flex;
      position: relative;
      width: calc(20% - 16px);
      margin: 0 8px 5px;
      flex-direction: column;
      justify-content: center;
      border: solid black;
      border-radius: 8px;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
      transition: 0.5s;
      overflow: hidden;
      @include pad {
        width: calc(33% - 14px);
      }
      @include custom600 {
        width: calc(50% - 16px);
      }
      &:hover {
        box-shadow: 0px 0px 6px 2px white;
      }
      .animeListImgBox {
        position: relative;
        padding-bottom: 55%;
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        .img {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.5s;
          transform: scale(1.08);
        }
        .latestEpisode {
          position: absolute;
          top: 0;
          left: 4px;
          font-size: 14px;
          font-weight: bold;
          background: rgba(100, 100, 100, 0.4);
          color: white;
          text-shadow: 1px 1px 2px black;
          padding: 0 5px 0 5px;
          border-radius: 5px;
        }
        .views {
          position: absolute;
          bottom: 0;
          right: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 14px;
          background: rgba(100, 100, 100, 0.4);
          color: white;
          text-shadow: 1px 1px 2px black;
          padding: 0 5px 0 5px;
          border-radius: 5px;
          .numbers {
            margin-left: 3px;
          }
        }
      }
      .animeNameBox {
        display: flex;
        flex-direction: column;
        border-radius: 0 0 5px 5px;
        background: var(--background-secondary);
        color: var(--text-primary);
        border-top: solid black;
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: bold;
        padding: 0 5px 0;
        .name,
        .scroll {
          // display: -webkit-box;
          // -webkit-box-orient: vertical;
          // -webkit-line-clamp: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:hover > .scroll {
          width: 100%;
          overflow: visible;
          animation: scrollingText linear 6s infinite forwards,
            point2 linear 6s 6s infinite forwards;
        }
        @keyframes scrollingText {
          0% {
            transform: translateX(0%);
          }
          100% {
            transform: translateX(-120%);
          }
        }
        @keyframes point2 {
          0% {
            transform: translateX(120%);
          }
          100% {
            animation: scrollingText linear 6s infinite forwards;
          }
        }
      }
      &:hover .img {
        transform: scale(1.15);
      }
      &:hover {
        color: black;
      }
    }
  }
}
.notFound {
  color: var(--text-primary);
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

//Admin功能
.AdminPostBtnOuter {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0 px;
  margin-bottom: 5px;
  height: auto;
  width: 100%;
  .postBtn {
    width: 90%;
    height: auto;
    font-size: 25px;
    color: white;
    background: gray;
    padding: 0 5px 5px 5px;
    outline: none;
    border-radius: 5px;
    text-shadow: 0px 1px 2px black;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
      inset 0 -0.1em 0 0.1em #5a5a5a;
    &:hover {
      color: #fff;
      text-shadow: 0 0 7px #fff, 0 0 10px #fff;
    }
  }
}
