.profileOuter {
  position: relative;
  top: 78px;
  background: var(--background);
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  .profileBox {
    display: flex;
    flex-wrap: wrap;
    background: var(--background-secondary);
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    .profilePicOuter {
      position: relative;
      top: 0;
      padding-bottom: calc(20%);
      border-radius: 5px;
      flex-basis: 30%;
      height: 0;
      border: solid black;
      overflow: hidden;
      margin: 10px;
      @media screen and (max-width: 767px) {
        padding-bottom: calc(25%);
        padding-right: calc(35%);
      }
      .picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .updatePicBtn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        font-size: 18px;
        color: white;
        background: gray;
        padding: 0 5px 0 5px;
        outline: none;
        border-radius: 5px;
        text-shadow: 0px 1px 2px black;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
          inset 0 -0.1em 0 0.1em #5a5a5a;
        &:active {
          background-color: #283048ad;
          box-shadow: none;
        }
        &:hover {
          color: rgb(196, 255, 172);
        }
      }
    }
    .profileInfoOuter {
      position: relative;
      top: 0;
      margin-top: 10px;
      flex-grow: 1;
      @media screen and (max-width: 767px) {
        margin-top: 0px;
        margin-bottom: 10px;
      }
      .profileName {
        color: var(--text-primary);
        font-size: 20px;
        font-weight: bold;
        word-break: break-all;
        .name {
          font-weight: lighter;
          color: var(--text-primary);
          word-break: break-all;
          font-size: 20px;
        }
        .updateNameBtn {
          margin-left: 5px;
          background: gray;
          color: white;
          width: auto;
          height: auto;
          padding: 0 5px 0 5px;
          outline: none;
          border-radius: 5px;
          text-shadow: 0px 1px 2px black;
          box-shadow: inset 0 1px 0 var(--background-tertiary),
            inset 0 -0.1em 0 0.1em var(--background-tertiary);
          &:active {
            background-color: #283048ad;
            box-shadow: none;
          }
          &:hover {
            color: rgb(196, 255, 172);
          }
        }
      }
    }
    .updateNameOuter {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 5px;
      width: 260px;
      border: solid gray;
      border-radius: 5px;
      overflow: hidden;
      .updateForm {
        border: none;
        outline: none;
        padding: 0 10px 0 5px;
      }
      .updateBtn {
        position: absolute;
        color: white;
        top: 0px;
        right: 0px;
        width: 50px;
        height: auto;
        border: none;
        outline: none;
        background: gray;
        text-shadow: 0px 1px 2px black;
        &:hover {
          color: rgb(196, 255, 172);
        }
      }
    }
  }
}

//SelectDP_CSS

.selectDPOuter {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  .innerOuter {
    display: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .picOuter {
      position: relative;
      top: 0;
      padding-bottom: 30%;
      width: 100%;
      height: 0;
      flex-basis: 50%;
      max-height: 100px;
      border: solid black;
      overflow: hidden;
      cursor: pointer;
      .picture {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:hover {
        border: solid white;
      }
    }
  }
}

//successMsg
.profileSuccessMsg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #2830487c;
  color: white;
  text-shadow: 0px 1px 2px black;
  width: 100%;
  height: auto;
  font-size: 20px;
}
