@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin custom600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

.videoOuter {
  position: relative;
  top: 78px;
  background: var(--background);
  height: 100vh;
  text-align: center;
  .videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    background: var(--background);
    .videoTitle {
      color: var(--text-primary);
      font-size: 30px;
      height: 100%;
      width: 100%;
      font-weight: bold;
    }
    .embedOuter {
      position: relative;
      top: 0;
      width: 90%;
      padding-bottom: 50%;
      border: solid;
      .embedStyle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .episodeTitle {
      color: var(--text-primary);
      font-size: 20px;
      font-weight: bold;
    }
    .episodeOuter {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: none;
      width: 100%;
      padding: 20px 15px;
      .episodeBox {
        position: relative;
        .removeBox {
          position: absolute;
          top: -10px;
          right: -3px;
          display: flex;
          flex-direction: row;
          z-index: 1;
          background: red;
          border: solid 3px;
          border-radius: 5px;
          overflow: hidden;
          &:hover .remove {
            width: 52px;
          }
          &:hover .fas.fa-times {
            border-left: solid black 2px;
            border-radius: 0;
            padding-left: 1px;
          }
          .fas.fa-times {
            color: white;
            font-size: 10px;
            background: red;
            border: solid red;
            border-radius: 5px;
          }
          .remove {
            color: white;
            font-size: 13px;
            font-weight: bold;
            background: red;
            width: 0px;
            height: 16px;
            transition: 1s;
            overflow-x: hidden;
            overflow-y: hidden;
            cursor: pointer;
          }
        }
        .episodeBtn {
          position: relative;
          background: white;
          color: black;
          border: solid;
          width: 60px;
          height: 40px;
          border-radius: 5px;
          line-height: 35px;
          text-align: center;
          margin-right: 5px;
          cursor: pointer;
          outline: none;
          font-weight: bold;
          font-weight: 300;
          overflow: hidden;
          &:focus {
            background: lightblue;
          }
        }
        .episodeBtn[class="episodeBtn lastWatch"] {
          border: solid rgb(255, 133, 154);
          &::after {
            position: absolute;
            bottom: 0px;
            left: 0;
            content: "上次觀看";
            font-size: 13px;
            font-weight: bold;
            background: rgb(255, 133, 154);
            color: white;
            height: 13px;
            width: 100%;
            line-height: 15px;
          }
        }
      }
    }
    .videoDetailOuter {
      .videoDetailBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        font-size: 17px;
        font-weight: 400;
        color: var(--text-primary);
        @include custom600 {
          margin-left: 10vw;
        }
        @include mobile {
          margin-left: 20vw;
        }
        li {
          display: flex;
          flex-wrap: nowrap;
          white-space: nowrap;
          margin-right: 5px;
          line-height: 31px;
          span {
            white-space: nowrap;
            background: linear-gradient(
              45deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(165, 186, 199, 1) 50%,
              rgba(79, 128, 159, 1) 100%
            );
            border-radius: 5px;
            margin-right: 5px;
            color: black;
            // text-shadow: 1px 1px 0px white;
            font-weight: bold;
            height: 100%;
            line-height: 20px;
            padding: 5px 5px 0;
          }
        }
      }
    }
  }
  .videoIntroOuter {
    position: relative;
    background: var(--background);
    text-align: left;
    margin: 0 0 30px;
    height: 100%;
    .title {
      color: var(--text-primary);
      font-size: 18px;
      border-bottom: 1px solid var(--text-primary);
    }
    .introWrapper {
      position: relative;
      height: 100%;
      width: 85vw;
      .btn {
        position: absolute;
        bottom: -20px;
        background: rgba(211, 224, 203, 0.5);
        height: 20px;
        line-height: 10px;
        color: var(--text-primary);
        z-index: 10;
        &:hover + .intro {
          background: #8bc5ec75;
        }
      }
      .intro {
        position: relative;
        color: var(--text-primary);
        font-size: 14px;
        overflow: hidden;
        height: auto;
        line-height: 25px;
        &.open {
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  //commentCSS
  .videoCommentOuter {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px 15px;
    .title {
      color: var(--text-primary);
      text-align: left;
      border-bottom: 1px solid black;
    }
    .postCommentBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      .imgBox {
        position: relative;
        padding-bottom: 5%;
        border-radius: 5px;
        width: 100%;
        margin-left: 5px;
        flex-basis: 10%;
        height: auto;
        overflow: hidden;
        @include pad {
          padding-bottom: 10%;
          flex-basis: 20%;
        }
        @include mobile {
          padding-bottom: 15%;
          flex-basis: 25%;
        }
        .image {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.5s;
        }
      }
      .inputBox {
        position: relative;
        top: 0;
        margin-left: 20px;
        flex-grow: 1;
        .input {
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          background: var(--background);
          color: var(--text-primary);
          border-bottom: 2px solid silver;
          text-align: left;
          &:focus ~ .underline::before {
            transform: scale(1);
          }
          &:focus ~ .confirmBox {
            background-color: rgba(111, 131, 111, 0.8);
          }
        }
        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 100%;
            background: rgba(111, 131, 111, 0.8);
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;
          }
        }
        .fa-times-circle {
          position: absolute;
          color: var(--text-primary);
          top: 0px;
          right: 70px;
          cursor: pointer;
        }
        .confirmBox {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 2px;
          right: 0;
          background-color: silver;
          width: auto;
          height: auto;
          border-radius: 15% 15% 0 0;
          transition: 2s;
          .btn {
            position: relative;
            bottom: -2px;
            color: white;
            text-shadow: 1px 1px 2px black;
            width: 100%;
            border: none;
            white-space: nowrap;
            cursor: pointer;
          }
        }
      }
    }
    .commentOuter {
      display: flex;
      flex-direction: column;
      background: transparent;
      border: solid lightblue;
      margin-top: 10px;
      height: 100%;
      .commentContainer {
        display: flex;
        gap: 10px;
        overflow: hidden;
        .avatarBox {
          position: relative;
          padding-bottom: 5%;
          border-radius: 5px;
          width: 100%;
          flex-basis: 10%;
          height: 100%;
          overflow: hidden;
          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            border-right: solid var(--text-primary);
            border-left: solid var(--text-primary);
          }
        }
        .contentBox {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: baseline;
          color: var(--text-primary);
          margin-bottom: 10px;
          .textContent {
            display: flex;
            .responseTo {
              color: #8bc6ec;
              margin-right: 10px;
            }
          }
          .thumbs {
            display: flex;
            gap: 10px;
            margin: 5px 0 10px;
            .far,
            .fas {
              cursor: pointer;
            }
          }
          .replyBox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            padding-bottom: 10px;
            .reply {
              padding: 5px;
              height: 100%;
            }
            .btnContainer {
              display: flex;
              // align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 10px;
            }
          }
        }
      }
      .viewMoreContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        white-space: nowrap;
        .content {
          display: flex;
          align-items: center;
          gap: 20px;
          .fa.fa-caret-down {
            flex-basis: 1%;
            line-height: 30px;
          }
          .text {
            line-height: 30px;
            margin-right: 20px;
          }
        }
      }
      .replyContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
